@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Lato:wght@400;700&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: #f4d04e;
  --white: #ffffff;
  --light-gray: #6b6b6b;
  --black: #121212;
}

body {
  background-color: var(--yellow);
  font-family: "Figtree", sans-serif;
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 380px;
  background-color: var(--white);
  border: 1px solid var(--black);
  box-shadow: 7px 7px var(--black);
  border-radius: 15px;
  padding: 23px;
  margin: 0 30px;
}

.container:hover {
  box-shadow: 10px 10px var(--black);
}

.card > :nth-child(2) {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 5px;
  border-radius: 5px;
  color: var(--black);
  padding: 5px 10px;
  font-weight: 700;
  background-color: var(--yellow);
  transition: shadow 0.3s;
}

.card p {
  color: var(--light-gray);
  margin: 10px 0;
  line-height: 1.3;
}

.card h2 a {
  text-decoration: none;
  color: var(--black);
  margin: 18px 0;
}

.card h2 a:hover {
  color: var(--yellow);
}

.card .main-img {
  width: 100%;
  border-radius: 12px;
}

.author {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  margin: 24px 24px 0 0;
}

.author img {
  width: 30px;
  height: 30px;
}

.author p {
  display: inline-block;
  margin: 0 5px;
  color: var(--black);
  font-weight: 700;
}
