@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Lato:wght@400;700&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: #f4d04e;
  --white: #ffffff;
  --light-gray: #6b6b6b;
  --black: #121212;
}

body {
  background-color: var(--yellow);
  font-family: "Figtree", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 384px;
  background-color: var(--white);
  border: 1px solid var(--black);
  box-shadow: 7px 7px var(--black);
  border-radius: 15px;
  padding: 1.2rem;
  margin: 0 4rem;
}

.container:hover {
  box-shadow: 10px 10px var(--black);
}

.card > :nth-child(2) {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 0.4rem;
  border-radius: 0.4rem;
  color: var(--black);
  padding: 5px 10px;
  font-weight: 700;
  background-color: var(--yellow);
  transition: shadow 0.3s;
}

.card p {
  color: var(--light-gray);
  margin: 12px 0;
  line-height: 1.3;
}

.card h2 {
  margin: 1.2rem 0;
}
.card h2 a {
  text-decoration: none;
  color: var(--black);
}

.card h2 a:hover {
  color: var(--yellow);
}

.card .main-img {
  width: 100%;
  border-radius: 12px;
}

.author {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  margin: 1.6rem 1.6rem 0 0;
}

.author img {
  width: 2rem;
}

.author p {
  display: inline-block;
  margin: 0 0.4rem;
  color: var(--black);
  font-weight: 700;
}

@media screen and (max-width: 500px) {
  .container {
    margin: 2rem auto;
    width: 90%;
  }
}
